@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4a6fa5;
  color: #fff;
}

a{
  text-decoration: none;
  color: #000;
}

h1{
  margin-top: 15vh;
  font-family: 'STIX Two Math', serif;
}

a.random{
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  line-height: 16px;
  font-size: 21px;
  margin-top: 15px;
  margin-bottom: 15px;
}

input{
 outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 450px;
}

.page{
  display: grid;
  place-items: center;
}

.error{
  margin-top: 50px;
  font-size: 2.1em;
  font-family: 'Quicksand', sans-serif;
}



/* list */
.cards{
  background-color: #f1f2ee;
  color: #000100;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px;
  cursor: pointer;
  transition: transform 1s;
}

.cards:hover{
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
  
}


.pgTitle{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  text-transform: capitalize;
}


.snippet{
  margin-bottom: 20px;
}

.container{
  margin-top: 30px;
  padding: 10px 10px;
}

